/* caractériser les liens */
.navbar-nav .nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#logo{
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    margin-top: 3px;
    font-size: 25px;
}

/* caractéristique de la banniere */
.banniere{
    height: 450px;
    background-image: url("/images/banniere-porfolio.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* l'image se conforme aux dimensions de la balise */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* définir le style du slogan */
.slogan{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}

article{
    display: flex;
}

.informations{
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

/* définir les caractéristiques du bouton contact */
#contact{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* redimensionner le bouton de la banniere */
.banniere button{
    width: 250px;
    height: 45px;
}

.card{
    margin: 5px;
    height: 450px;
    width: 290px;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card img{
    height: 200px;
    width: 270px;
    border: black solid 1.5px;
    margin-bottom: -45px;
    position: relative; /* mettre l'image sur le bloc */
}

.btn{
    margin-top: 15px;
    height: 46px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: -25px;
    background:rgba(17, 83, 121, 0.2);
}

/* mettre les bordures circulaires */

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.metier{
    height: 50px;
    background: rgba(100, 199, 219,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    height: auto;
    background: linear-gradient(rgba(94, 218, 223,0.4),rgba(109, 159, 190,0.4),rgba(141, 148, 168,0.4));
    margin-top: 5px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    margin: 10px auto;
    line-height: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
 .socials{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
 }

 .socials li{
     margin: 0 10px;
 }

 .socials a{
     text-decoration: none;
     color: #fff;
 }

 .socials a i{
     font-size: 1.7rem;
     transition: color .4s ease;
 }

 .socials a:hover i{
     color: rgb(199, 81, 90);
 }

 .footer-bottom{
     background: #000;
     width: 100%;
     padding: 30px 0;
     text-align: center;
 }

 .footer-bottom p{
     font-size: 20px;
     word-spacing: 2px;
     text-transform: capitalize;
 }

 .footer-bottom span{
     text-transform: uppercase;
     opacity: 0.65;
     font-weight: 200px;
 }